node_modules
dist
out
.DS_Store
.eslintcache
*.log*
/repomix-output.md
coverage
.cache/
playwright-report
test-results
docs/product/.product-docs-staging
docs/product/**/*.product-docs-backup
/assets/*
!/assets/.gitkeep
/externals/
/.yarn/*
!/.yarn/cache
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
~$*.docx
*.tsbuildinfo
