node_modules
dist
out
.DS_Store
.eslintcache
*.log*
/repomix-output.md
coverage
/assets/*
!/assets/.gitkeep
/resources/file-icons/*.ico
/resources/file-icons/*.icns
/.yarn/*
!/.yarn/cache
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
tsconfig.node.tsbuildinfo
tsconfig.web.tsbuildinfo
~$*.docx